<div class="footer-area">
  <div class="left-side">
    <img src="./assets/img/Logo_white.png" alt="Logo" />
    <span>© Sebastian Brosda 2023</span>
  </div>
  <div class="right-side">
    <div class="icons">
      <a href="https://github.com/brosda90?tab=repositories">
        <img src="./assets/img/Icons/Github.png" alt="Github" />
      </a>
      <a href="mailto:contact@sebastianbrosda.de">
        <img src="./assets/img/Icons/Email.png" alt="E-Mail senden" />
      </a>
      <a href="https://www.linkedin.com/in/sebastian-brosda-b827902a8/">
        <img src="./assets/img/Icons/LinkedIn.png" alt="LinkedIn" />
      </a>
    </div>
    <a class="legal-notice" href="legal-notice">Legal notice</a>
  </div>
</div>
