<div class="about-container" id="aboutMe">
  <div class="about-me-text">
    <h2 #aboutMeTitle>About&nbsp;me</h2>
  </div>
  <div class="main-container">
    <div #textArea class="text-area">
      <span #aboutMeSpan
        >I am a Front-end developer based in Lower Saxony, Germany. I enjoy
        helping designers and companies bring their ideas into real life. I am
        looking forward to continuing my developer career with a job in a junior
        web developer position.<br />
        I would love to hear from you. Whether it is a project, job opportunity,
        or just a chat.
      </span>

      <button #aboutMeButton (click)="scrollToContact()">Let's talk</button>
    </div>
    <div #imageContainer class="image-container">
      <img src="./assets/img/profil-picture.jpg" alt="" />
      <div class="frame"></div>
    </div>
  </div>
</div>