<div class="number-container"><p>04/04</p></div>
<div class="projects-container">
  <div class="image-container">
    <img #imageContainer src="./assets/img/Projects/weather_app.jpg" alt="" />
    <div #frameImage class="frame">
      <img src="./assets/img/animations/project-animation-arrow.png" alt="" />
    </div>
  </div>
  <div #projectTextArea class="project-textarea">
    <h2>Weather app</h2>
    <h3>JavaScript | HTML | CSS</h3>
    <p>
      A weather app displaying data from Germany. It provides real-time weather
      updates, including temperature, precipitation, and wind conditions.
    </p>
    <div class="btn-container">
      <button (click)="openLiveTest()">Live Test</button>
      <button (click)="openGitHub()">GitHub</button>
    </div>
  </div>
</div>
