<div class="number-container"><p>03/04</p></div>
<div class="projects-container">
  <div class="image-container">
    <img #imageContainer src="./assets/img/Projects/Solve_or_Drink.jpg" alt="" />
    <div #frameImage class="frame">
      <img src="./assets/img/animations/project-animation-arrow.png" alt="" />
    </div>
  </div>
  <div #projectTextArea class="project-textarea">
    <h2>Solve or Drink</h2>
    <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
    <p>
      Not the final project for this site 
    </p>
    <div class="btn-container">
      <button (click)="openLiveTest()">Live Test</button>
      <button (click)="openGitHub()">Git hub</button>
    </div>
  </div>
</div>
