$font-family-overpass: "Overpass";
$color-black: black;
$color-white: white;
$transition-fast: 0.2s ease-in-out;

@mixin hover-effect {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.footer-area {
  background-color: $color-black;
  margin-top: -1px;
  height: 251px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: 40px;
  gap: 30px;

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin-top: -18px;
    gap: 24px;

    img {
      width: 70px;
    }

    span {
      color: $color-white;
      font-size: 22px;
      font-family: $font-family-overpass;
    }

    a {
      text-decoration: none;
      color: $color-white;
      font-family: $font-family-overpass;
      font-size: 22px;
      padding-left: 0px;
      transition: $transition-fast;
      margin-left: auto;
      margin-right: auto;
      @include hover-effect;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    padding-right: 0px;

    .icons {
      img {
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 16px;
        width: 40px;
        transition: $transition-fast;
        @include hover-effect;
      }
    }
  }
}