<div class="number-container"><p>03/04</p></div>
<div class="projects-container">
  <div class="image-container">
    <img #imageContainer src="./assets/img/Projects/Ring_of_fire.jpg" alt="" />
    <div #frameImage class="frame">
      <img src="./assets/img/animations/project-animation-arrow.png" alt="" />
    </div>
  </div>
  <div #projectTextArea class="project-textarea">
    <h2>Ring of Fire</h2>
    <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
    <p>
      A simple drinking game app, "Ring of Fire," created using Angular and
      Firebase. It digitalizes the classic card game, allowing players to
      interact with the game virtually.
    </p>
    <div class="btn-container">
      <button (click)="openLiveTest()">Live Test</button>
      <button (click)="openGitHub()">Git hub</button>
    </div>
  </div>
</div>
