.legal-notice-container {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "syne";

  img {
    border-radius: -15px;
    width: 70px;
    height: 70px;
    rotate: 135deg;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  h1 {
    font-size: 58px;
    font-weight: 800;
  }

  h2 {
    font-size: 46px;
    color: #00bc8f;
  }

  p {
    font-size: 18px;
    font-weight: 700;
  }

  a {
    color: #00bc8f;
  }
}

img {
  border-radius: -15px;

  width: 70px;
  height: 70px;
  rotate: 135deg;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media (max-width: 555px) {
  .legal-notice-container {
    h1 {
      font-size: 36px;
      font-weight: 800;
    }

    h2 {
      font-size: 26px;
      color: #00bc8f;
    }

    p {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
