$font-family-syne: "Syne";
$font-weight-bold: 800;
$font-weight-normal: 400;
$color-highlight: #00bc8f;
$transition-fast: 0.2s ease-in-out;

@mixin hover-effect {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.legal-notice-container {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: $font-family-syne;

  img {
    border-radius: -15px;
    width: 70px;
    height: 70px;
    rotate: 135deg;
    @include hover-effect;
  }

  h1 {
    font-size: 58px;
    font-weight: $font-weight-bold;
  }

  h2 {
    font-size: 46px;
    color: $color-highlight;
  }

  p {
    font-size: 18px;
    font-weight: $font-weight-bold;
  }

  a {
    color: $color-highlight;
  }
}

img {
  border-radius: -15px;
  width: 70px;
  height: 70px;
  rotate: 135deg;
  @include hover-effect;
}

@media (max-width: 555px) {
  .legal-notice-container {
    h1 {
      font-size: 36px;
      font-weight: $font-weight-bold;
    }

    h2 {
      font-size: 26px;
      color: $color-highlight;
    }

    p {
      font-size: 14px;
      font-weight: $font-weight-bold;
    }
  }
}