<div class="my-skills" id="mySkills">
  <div class="my-skills-area">
    <h2 #MySkillsTitle>My skills</h2>
    <div class="icon-container">
      <div #moving0 class="icon-animation-container">
        <img src="./assets/img/Icons/angular_icon.png" />
        <p>Angular</p>
      </div>
      <div #moving1 class="icon-animation-container">
        <img src="./assets/img/Icons/typescript_icon.png" />
        <p>TypeScript</p>
      </div>
      <div #moving2 class="icon-animation-container">
        <img src="./assets/img/Icons/Javascript_icon.png" />
        <p>JavaScript</p>
      </div>
      <div #moving3 class="icon-animation-container">
        <img src="./assets/img/Icons/html_icon.png" />
        <p>Html</p>
      </div>
      <div #moving4 class="icon-animation-container">
        <img src="./assets/img/Icons/css_icon.png" />
        <p>CSS</p>
      </div>
      <div #moving5 class="icon-animation-container">
        <img src="./assets/img/Icons/firebase_icon.png" />
        <p>Firebase</p>
      </div>
      <div #moving6 class="icon-animation-container">
        <img src="./assets/img/Icons/git_icon.png" />
        <p>Git</p>
      </div>
      <div #moving7 class="icon-animation-container">
        <img src="./assets/img/Icons/scrum_icon.png" />
        <p>Scrum</p>
      </div>
      <div #moving8 class="icon-animation-container">
        <img src="./assets/img/Icons/Api_icon.png" />
        <p>Api</p>
      </div>
      <div #moving9 class="icon-animation-container">
        <img src="./assets/img/Icons/material-design_icon.png" />
        <p>Material<br />design</p>
      </div>
    </div>
  </div>
</div>
