.arrow-left img {
  transition: transform 0.2s ease;
  animation-fill-mode: forwards;
}

.arrow-container {
  max-width: 1920px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  overflow: hidden;
  margin-bottom: 200px;
}

.arrow-left {
  display: flex;
  justify-content: end;

  height: 320px;

  overflow: hidden;

  img {
    height: 250px;
  }
}

.arrow-left img {
  transition: transform 0.2s ease;
  animation-fill-mode: forwards;
}

.moved {
  animation: movedAnimation 0.3s ease forwards;
  animation-fill-mode: forwards;
}

.moved img {
  animation: movedAnimation 0.2s linear forwards;
  transform: rotate(0deg);
  animation-fill-mode: forwards;
}

.moved-reverse img {
  animation: movedAnimationReverse 0.2s linear forwards;
  transform: rotate(180deg);
  animation-fill-mode: forwards;
}

@keyframes movedAnimation {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-20px, 20px);
  }
  40% {
    transform: translate(-40px, 40px);
  }
  60% {
    transform: translate(-60px, 60px);
  }
  80% {
    transform: translate(-80px, 80px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}

@keyframes movedAnimationReverse {
  0% {
    transform: translate(-100px, 100px) rotate(180deg);
  }
  20% {
    transform: translate(-80px, 80px) rotate(180deg);
  }
  40% {
    transform: translate(-60px, 60px) rotate(180deg);
  }
  60% {
    transform: translate(-40px, 40px) rotate(180deg);
  }
  80% {
    transform: translate(-20px, 20px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}

@media screen and (min-width: 1920px) {
  .arrow-container {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .arrow-left img {
    padding-right: 0px;
  }
}

@media (max-width: 630px) {
  .arrow-left {
    display: flex;
    width: 68vw;
    justify-content: center;
    height: 314px;
    overflow: hidden;
  }
}

@media (max-width: 555px) {
  .arrow-container {
    height: 299px;
    margin-bottom: 114px;
    margin-right: 80px;
  }
  .arrow-left {
    img {
      width: 164.67px;
      height: 170px;
    }
  }
}

@media (max-width: 430px) {
  .arrow-container {
    height: 250px;
    display: flex;
    width: 76vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: end;
  }
  .arrow-left {
    margin-right: -20px;
    height: 230px;
    justify-content: end;
    img {
      width: 129.67px;
      height: 133px;
    }
  }
}

@media (max-width: 348px) {
  .arrow-container {
    width: 88vw;
    margin-left: 20px;
    margin-right: 20px;
    .arrow-left {
      margin-right: -20px;
      height: 256px;
      justify-content: end;
      img {
        width: 129.67px;
        height: 133px;
      }
    }
  }
}

@media (max-height: 700px) {
  .arrow-container {
    margin-top: 80px;
  }
}
