<div class="number-container"><p>02/04</p></div>
<div class="projects-container">
  <div class="image-container">
    <img
      #imageContainer
      src="./assets/img/Projects/El_Pollo_Locco.jpg"
      alt=""
    />
    <div #frameImage class="frame">
      <img src="./assets/img/animations/project-animation-arrow.png" alt="" />
    </div>
  </div>
  <div #projectTextArea class="project-textarea">
    <h2>El Pollo Loco</h2>
    <h3>JavaScript | HTML | CSS</h3>
    <p>
      Jump, run and throw game based on object-oriented approach. Help Pepe to
      find coins and tabasco salsa to fight against the crazy hen.
    </p>
    <div class="btn-container">
      <button (click)="openLiveTest()">Live Test</button>
      <button (click)="openGitHub()">GitHub</button>
    </div>
  </div>
</div>
