<div class="number-container"><p>01/04</p></div>
<div class="projects-container">
  <div class="image-container">
    <img
      #imageContainer
      src="./assets/img/Projects/mug-laptop-office-environment.jpg"
      alt=""
    />
    <div #frameImage class="frame">
      <img src="./assets/img/animations/project-animation-arrow.png" alt="" />
    </div>
  </div>
  <div #projectTextArea class="project-textarea">
    <h2>Join</h2>
    <h3>JavaScript | HTML | CSS</h3>
    <p>
      A task manager inspired by the Kanban method. You can create and organize
      tasks using drag and drop, assign tasks to users and define subtasks.
    </p>
    <div class="btn-container">
      <button (click)="openLiveTest()">Live Test</button>
      <button (click)="openGitHub()">GitHub</button>
    </div>
  </div>
</div>
